{% extends 'base.html' %}
{% block body %}
<div class="container mb-3">
    <h2>Add a Todo</h2>
    <form action="/" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Todo Title</label>
            <input type="text" class="form-control" name="title" id="title" placeholder="Learn Python">
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Todo Description</label>
            <input type="text" class="form-control" name="desc" id="desc"
                placeholder="Learn about Flask in python by today EOD">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Add Todo</button>
        </div>
    </form>
</div>
<div class="container my-3">
    <h2>Your Todos</h2>
    {% if allTodo|length == 0 %}
    <div class="alert alert-success" role="alert">
        No Todos found!! Add a todo to start with!!
    </div>
    {% else %}
    <table class="table">
        <tbody>
            <thead>
                <tr>
                    <th scope="col">SNo</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Time</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>

            {% for todo in allTodo %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{todo.title}}</td>
                <td>{{todo.desc}}</td>
                <td>{{todo.date_created}}</td>
                <td><a href="/delete/{{todo.sno}}" type="button" class="btn btn-outline-success btn-sm-mx-1">Delete</a>
                </td>
                <td><a href="/update/{{todo.sno}}" type="button" class="btn btn-outline-warning btn-sm-mx-1">Update</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock body %}